.about-section {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.about-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    text-align: right;
    font-family: 'Arial', sans-serif;
    margin-bottom: 10px;
}

.home-text {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 20px;
    color: #333;
    margin-bottom: 15px;
}

.about-info-text {
    font-size: 18px;
    color: #555;
    line-height: 1.6;
    // background-color: #ee7272;
    font-family: hebrew-reg-font, sans-serif;
    // font-family: Bahnschrift, sans-serif;
}

.about-where-shops {

    font-size: 18px;
    color: #555;
    line-height: 1.6;
    margin-block-end: 5px;

    font-family: hebrew-reg-font;
}

.branch-buttons {
    display: flex;
    gap: 5px;
    margin-block-end: 26px;

    .About-places {
        position: relative;
        margin: 10px;
        padding: 10px;
        font-size: 15px;
        cursor: pointer;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;

    }
}



.tooltip-text {
    visibility: hidden;
    width: 70px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 4px 0;
    position: absolute;
    z-index: 1;
    top: 47px;
    left: 50%;
    margin-left: -35px;
    opacity: 0;
    transition: opacity 0.3s;
    font-family: hebrew-reg-font;

}

.About-places:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}