.add-btn {
    display: inline-block;
    background-color: $specialbtnclr;
    border: none;
    color: $textclr2;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-bottom: 15px;

    &:hover {
        background-color: $spbtnhover;
    }


}

.home-container {
    display: flex;
    justify-content: center;
    position: relative;
    background-image: url('src/assets/img/Yonas-shop-img.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh; 
    color: rgb(243, 249, 255); 

    .text-overlay {
        position: absolute;
        top: 20px; 
        width: 70%;
        text-align: center;
        background: rgba(0, 0, 0, 0.5); 
        padding: 10px;
        border-radius: 10px; 
    }
}