
.about-section {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    padding: 20px;
}

.about-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    text-align: right;
    font-family: 'Arial', sans-serif;
    margin-bottom: 10px;
}

.home-text {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 20px;
    color: #333;
    margin-bottom: 15px;
}

.about-info-text {
    font-size: 18px;
    color: #555;
    line-height: 1.6;

    font-family: hebrew-reg-font;
}

.about-where-shops{

    font-size: 18px;
    color: #555;
    line-height: 1.6;
    margin-block-end: 5px;


    font-family: hebrew-reg-font;
}

.branch-buttons{
    display: flex;
    gap: 5px;
    margin-block-end: 20px;
}