
.header-bgcl{
    background-color:var( --bgclr2);
    box-shadow: 0 1px 6px rgb(0 0 0 / 0.5);
    color: var(--textclr1);
}


.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;   
}

.nav-links {
    display: flex;
    gap: 1em;
    font-size: 1.2em;
}

.nav-links * {
    transition: scale .3s;
}

.nav-links *:hover {
    scale: 1.1;
}

.logo{
   color: var(--logotextclr);
}