

.add-btn {
    display: inline-block;
    background-color: #4CAF50; 
    border: none;
    color: white; 
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px; 
    transition: background-color 0.3s ease; 


}

.add-btn:hover {
    background-color: #45a049; 
}

