.toy-list {
    list-style: none;
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    padding-left: 0;
    gap: 0.6em;
    margin-block: 0.6em;
}

.toy-list li {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-around;
    background-color: var(--clr1bg);
    padding: 1em; 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}


  


  .btns {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    gap: 5px;
  }
  
  .btn {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease;
  }
  
  .btn a {
    text-decoration: none;
    color: inherit;
  }
  
  .btn-details {
    background-color: #3498db;
    color: white;
  }
  
  .btn-details:hover {
    background-color: #2980b9;
  }
  
  .btn-edit {
    background-color: #2ecc71;
    color: white;
  }
  
  .btn-edit:hover {
    background-color: #27ae60;
  }
  
  .btn-delete {
    background-color: #e74c3c;
    color: white;
  }
  
  .btn-delete:hover {
    background-color: #c0392b;
  }
  
  @media (max-width: 600px) {
    .btns {
      flex-direction: column;
    }
  
    .btn {
      margin-bottom: 10px;
    }
  }