


@media (max-width: 740px) {

    .nav-links *{
        display: none;
    }


}



@media (min-width: 740px) {

   .btn-toggle-menu {
        display: none;
    }

    .main-header-mobile {
        display: none;

    }

}