
// COLOR PALETTE
  $logotextclr: #F7AA4D;
  $textclr1: #FFF9D7;
  $textclr2: #252525;
  $btntextclr:#FFF9D7;


  $bgclr1: #F7AA4D;
  $bgclr2: #8c3137;
  $bgclr3:#f0f0f0;


  $btnclr: #477237;
  $btnhoverclr: #486848;


  $specialbtnclr: #5899c2;
  $spbtnhover: #4a82a5;
